body {
    background-color: #9E9E9E !important;
}

h1 {
    padding-top: 5vh;
}

#paper-style {
    min-height: 100vh !important;
    width: 60vw !important;
    margin: auto !important;
    text-align: center !important;
}

#paper-style-list-item {
    margin: auto !important;
    width: 40vw !important;
    margin-top: 2vh !important;
}

#no-results-image {
    padding: 5em;
    width: 65%;
} 

#article-image {
    padding: 1em;
    width: 65%;
}

#no-article-image {
    padding: 1em;
    width: 20%;
}

#search-form {
    margin: auto;
    margin-right: 5vw; 
    margin-bottom: 2vh;  
}

#datepicker-startDate-label, #datepicker-endDate-label {
    display: inline-block;
    font-size: 15px;
    line-height: 40px; 
    transform: scale(0.75) translate(88px, -28px); 
    transform-origin: left top 0px; 
    color: rgba(0, 0, 0, 0.3); 
}

#datepicker-endDate-label {
    transform: scale(0.75) translate(82px, -28px); 
}

.search-text-input, #search-text-input {
    margin: 1em 1em 1em .5em !important;
    width: 10em !important;
}

label {
    text-align: left;
}

.sort-articles-select {
    width: 10.8em !important;
    text-align: left !important;
    margin-left: -34vw !important;
    display: inline-block !important;
}

ul {
    list-style: none
}

#article-list {
    margin: auto;
    padding: 0em;
    padding-bottom: .8em;
}

#article-list-item {
    padding-bottom: .1em;
}

#article-snippet {
    text-align: left;
    width: 90%;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 0em;
    margin-top: 0em;
}

#article-author {
    text-align: center;
    margin: 0em;
    margin-bottom: .2em;
}

#datePicker-start {
    display: inline-block;
    margin-right: -3em;
    padding-top: 2em;
}

#datePicker-end {
    display: inline-block;
    margin-right: .5em;
    padding-top: 2em;
}

label[for=search-text-input] {
    color: rgba(0, 0, 0, 0.3) !important;
}

span[role=menuitem] {
    color: #2196F3!important;
}