body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }

  h1 {
      text-align: center;
  }

#main-container {
    background: rgb(192, 192, 197);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 66.666vw;
    align-items: center;
    border-right: 1px solid rgba(0,0,0,0.15);
    border-left: 1px solid rgba(0,0,0,0.15);
}

#form-container {
    margin-right: 10em;
    margin-left: 10em;
}

#search-form {
    display: flex;
    align-items: center;
    padding-top: .1em;
    width: 20%; 
    
}

#datepicker-container {
    display: flex;
    align-items: center;
}

#datepicker-startDate-label, #datepicker-endDate-label, #search-text-label {
    font-size: .8em;
    color: black;
    margin-left: 1em;
}
  
#search-text-input-container, #submit-form-button-container {
    display: flex;
    align-items: center;
} 

#submit-form-button-container {
    margin-left: .3em;
}

#submit-form-button-container  {
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
} 

#article-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em; 
    margin: 0em;   
}

ul {
    list-style: none
}

#article-list-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1em;
    margin: 1em 0.5em;
    width: 80%;
    border: 1px solid rgba(0,0,0,0.15);
}

#article-author {
    margin-bottom: 1em;
    text-align: center;
    white-space: normal;
    width: 80%;
}

#article-snippet {
    margin-bottom: 1em;
    padding-left: 3.2em;
    padding-right: 3.2em;
    white-space: normal;
    text-align: center;
    width: 80%;
}

#article-image {
    width: 50%;
    margin: 4em;
    display:block;
    margin:auto;
}

#sort-articles-select {
    display:block;
}

#sort-articles-select-label {
    margin-top: 2em;
    margin-left: 40em;
    font-size: .8em;
    color: black;
    display:block;
}

#no-article-image {
    padding-top: 1em;
    width: 20%;
    display:block;
    margin:auto;
}

#header-text {
    text-align: center;
    font-size: .7em;
}

#no-results-image {
    padding: 2em;
    width: 65%;
}